aiogram==2.9.2
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
multidict==4.7.6
mysql-connector-python==8.0.21
protobuf==3.12.4
python-dotenv==0.14.0
pytz==2020.1
six==1.15.0
yarl==1.5.1
